<div class="container">
	<h1>Subjects list</h1>
	
	<% if policy(:subject).new? %>
		<br><%= link_to 'New Subject', new_subject_path %>
	<% end %>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Topic</th>
				<th scope="col">Created at</th>
			</tr>
		</thead>
		<tbody>
			<% @subjects.each do |subject| %>
				<tr>
					<th><%= link_to "#{subject.topic}", subject_path(subject) %></th>
					<th><%= subject.created_at %></th>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>