<div class="container">
	<h1>Welcome to subjects app</h1>

	<h2>If you do not have accesss to other pages please <a href = "/users/sign_in">sign in</a> or <a href="/users/sign_up">create new account</a>. At first you can only read subjects. If you want to work with subjects, please wait until admin will manage your role.</h2>
</div>